/* ----------------  using external things ---------------- */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Heebo&family=Poppins:wght@500&family=Rubik&display=swap');

/* 1st section of the website */

body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px;
}
/* -------------------- carosel part ---------------------- */
.container{
    margin:45px 139px 132px 100px;
}
.background{
    height: 646px;
    width: 1321px;
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.background-elements{
    margin:0px 113px 80px 113px;
}
.background h2{
    color: white;
    font-size: 70px;
    line-height: 70px;
}

.section-paragraph{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 50px;
    position: relative;
    bottom: 30px;
}
.background a{
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #DD0000;
    background-color: #DD0000;
    padding: 13px 40px;
    border-radius: 5px;
}
.fontawsome{
    position: relative;
    bottom: 30px;
    right: 40px;
}

.banner img{
    height: 613px;
    width: 581px;
    margin:40px 40px 0px 0px;
}

/* ----------------2nd part og the website ------------------- */
.separate{
    display: flex;
    justify-content: space-between;
}

/* ---------------------------start form--------------------- */
.control{
    margin-top: 130px;
}
.all-links{
    height: 300px;
    width: 270px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.all-links div{
    
    height: 54px;
    width: 152px;
}

 .same{

    background-color: #FFFFFF;
    padding: 5px 20px;
    border-radius: 5px;   
}
.same a{
    text-decoration: none;
    color: #161616;
  
}
#same{
    background-color: #DD0000;
    padding: 5px 20px;
    border-radius: 5px;
    
} 
#same a{
    text-decoration: none;
    color: #FFFFFF;
}
.link-text{
    margin-left: 35px;
}
.link-id-text{
    margin-left: 50px;
}
/* ----------------------end of form---------------------- */
.blog-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    column-gap: 25px;
    margin-top: 130px;
    margin-bottom: 80px;
}
.blog-content{
    border: 1px solid gainsboro;
    width: 312px;
    border-radius: 12px;
}
.alignment{
    margin-left: 15px;
}

.blog-content>img{
    height: 175px;
    width: 312px;
}


.blog-content h2{
    font-size: 16px;
}
.transfer{
   margin-top: 10px;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;


}
.blog-link{
    text-decoration: none;
    border: 1px solid gray;
    color: #161616;
    font-size: 16px;
    padding: 3px 8px;
    border-radius: 3px;
}
.icon{
    display: flex;
    color: #161616;
    align-items: center;
    column-gap: 10px;
    margin-left: 33px;
}

.icon{
    position: relative;
    bottom: 20px;
    right: 30px;
}  
/* -------------------------End of Grid --------------------- */
.footer{
    height: 444px;
    width: 1600px;
    background-color: #161616;
}
.foot-text{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 70px;
}
.foot-align{
    padding-top: 80px;
    
}

hr{
    border: 1px solid gray;
    width: 1320px;
}
.extra-button{
    display: none;
}

.foot-nav{
    margin-top: 54px;
    display: flex;
    justify-content: center;
}


.foot-nav a{
    text-decoration: none;
    color: #B9B9B9;
    margin-right: 30px;
}
/* -----------------------Ending footer------------------------ */

/* ----------------upcomming match website --------------------*/

.upcomming-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    column-gap: 50px;
    margin-top:130px ;
 
}
.matches{
    border: 1px solid gray;
    padding: 35px;
    border-radius: 10px;
}
.compare{
    display: flex;
    column-gap: 5px;
}

/* --------------------FOR MEDIUM SCREEN----------------------- */

 @media screen and (min-width:688px) and (max-width:992px){

    .background{
        height: 398px;
        width: 700px;
    }

    .background h2{
        color: white;
        font-size: 30px;
        line-height: 30px;
        position: relative;
        top: 70px;
        right: 30px;
    }
    .section-paragraph{
        font-size: 13px;
        height: 60px;
        position: relative;
        top: 60px;
        right: 30px;
        overflow: hidden;
        margin-bottom: 80px;
    }
    .background a{
        font-size: 10px;
        padding: 10px 15px;
        margin-left: -30px;
    }
    .fontawsome{
        position: relative;
        bottom: -3px;
        right: 18px;
    }
    .banner img{
        height: 340px;
        width: 323px;
        margin:65px 40px 0px 0px;
    }

    
    /* -----------------end of banner part ---------------------*/
    .separate{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        column-gap: 30px;
    }
    .all-links{
        height: 100px;
        width:690px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        margin-top: -95px;
    }
    .all-links div{
        border: 1px solid gray;
        margin-right: 40px;
        border-radius: 10px;
    }
    
    /* -----------------end link part ------------------------*/
    .blog-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 50px;
        column-gap: 25px;
        margin-top: auto;
    }
    .extra-button{
        display: inline;
        border: 1px solid rgb(220, 20, 20);
        background-color: crimson;
        color: white;
        padding: 15px 40px;
        border-radius: 5px;
        position: relative;
        bottom: 80px;
        left: 380px;
        font-weight: 700;
    }

    .upcomming-container
    {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 50px;
    column-gap: 50px;
    margin-top:-10px ;
    }
    /* ------------------------end of grid part--------------- */
    .footer{
        height: 345px;
        width: 100%;
    }  
} 

/* @media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .background{
        height: 472px;
        width: 334px;
        display: flex;
        flex-direction: column;
    }
    .background h2{
        color: white;
        font-size: 22px;
        line-height: 10px;
         position: relative;
        top: 40px;
        right: 40px;
    }
} */